.circle1{
    width: 30px;
    height: 30px; 
    border-radius: 50%;
    border:1px rgb(212, 34, 18) solid;
    display: inline-flex;
    margin: px;
}
.circle2{
    border-radius: 50%;
    border:1px blueviolet solid;
    display: inline-flex;
    width: 30px;
    height: 30px; 
    margin: px ;
}