.circle1{
    width: 30px;
    height: 30px; 
    border-radius: 50%;
    border:1px rgb(212, 34, 18) solid;
    position: absolute;
    margin: 5%;
    padding: 5%;
}
.circle2{
    border-radius: 50%;
    border:1px blueviolet solid;
    width: 30px;
    height: 30px; 
    position: absolute;
    margin: 5%;
    padding: 5%;
    left: 10%;
}
